* { 
  webkit-font-smoothing: antialiased; 
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale; 
  text-shadow: rgba(0, 0, 0, .1) 0 0 1px; 
}